.main, .logosy {
	max-width: 900px;
	margin: auto;
}
.main {
	padding: 80px 20px 140px 20px;
	.home & {
		margin-top: 225px;
		background-color: #fff;
		background-color: rgba(255,255,255,0.8);
		padding: 55px 20px 140px 20px;
		@media screen and (max-width: 900px) {
			margin-top: 420px;
		}
		@media screen and (max-width: 760px) {
			margin-top: 355px;
			padding-top: 40px;
		}
		@media screen and (max-width: 640px) {
			margin-top: 299px;
			padding-top: 20px;
		}
		@media screen and (max-width: 480px) {
			margin-top: 225px;
		}
	}
	img {
		max-width: 100%;
	}
}
article {
	max-width: 43.75em;
	margin: auto;
}